@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
.App {
    /* position: fixed; */
    width: 100vw;
    height: fit-content;
    min-height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 1000;
    /* background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80"); */
    
    overflow: hidden;
}

body {
    /* overflow: hidden; */
    background-image: url("https://cdn.pixabay.com/photo/2020/11/06/18/53/flowers-5718624_960_720.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}



/* @media only screen and (max-device-width: 800px), screen and (max-device-height: 500px) {
    .App {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        z-index: 1000;
        background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80");
        background-repeat: no-repeat;
        background-size: cover;
    }
} */


/*************** STARTSCREEN ****************/

.startButtonContainer {
    margin-top: 30vh;
    text-align: center;
    transition: .3s;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.startButtonContainer:hover {
    transform: scale(1.4);
}

img.startButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    animation-name: rightSpin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

h1.startButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    color: white;
    font-weight: bold;
}


/*************** MISC ****************/


/* transition: .3s;
transform: scale(1.2); */

.startButton:hover {
    cursor: pointer;
}

.fade {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.hideOnStart {
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hideNuggetsOnStart {
    animation: fadeIn ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    height: 0;
}

.defaultFont {
    font-family: 'Dancing Script', cursive;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*************** NAVBAR ****************/

.navbar {
    margin-top: 10px;
    text-align: center;
}

.navButton {
    color: white;
    font-size: 3em;
    cursor: pointer;
    display: inline-block;
    margin-right: 20px;
    background-image: linear-gradient(white 0 0);
    background-position: 50% 90%;
    background-size: 0% 4px;
    background-repeat: no-repeat;
    transition: background-size 0.5s, background-position 0s 0.5s;
    /* border-radius: 50px; */
}

.navFlagButton {
    width: 30px;
    height: 20px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 8px;
}

.navFlagButton:hover {
    transform: scale(1.2);
}

.navButton:hover {
    background-position: 50% 90%;
    background-size: 80% 4px;
}


/*************** NUGGETS ****************/

.grayNugget {
    position: fixed;
    width: 5vh;
    height: 5vh;
    transition: all 6s linear;
}

.rightNuggetSpin {
    animation-name: rightSpin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

span.grayNugget {
    /* width: fit-content; */
    animation: fadeIn ease 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 1;
}


/*************** CONTENT ****************/

.textContainer {
    position: relative;
    margin-top: 20px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    background-color: beige;
    left: 50%;
    width: 50vw;
    height: fit-content;
    padding: 8px;
    border-radius: 10px;
    opacity: 0.9;
    animation: 1s slide-right;
    border: 1px solid;
    border-width: 5px 4px;
    border-color:darkgrey;
    border-radius:95% 1vw 95% 1vw/1vw 95% 1vw 95%;
    transform: translateX(-50%);


}

.textContent {

}

.categoryContainer {
    height: fit-content;
    width: 100%;
    margin-bottom: 25px;
}


/* Keyframes */

@keyframes rightSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        left: 0%;
    }
    to {
        left: 50%;
        transform: translateX(-50%);
    }
}